*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-container{
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.153);
}
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    max-width: 1150px;
    margin: 0 auto;
}
.nav-left{
    display: flex;
    align-items: center;
    font-size: 40px;
    
}
.nav-right{
    display: flex;
}
span{
    margin-left: 8px;
}
.nav-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-right: 15px;
}
.nav-btn-follow{
    background-color: rgb(158, 158, 158);
    padding: 7px 15px;
    border-radius: 7px;
    margin-right: 0px;
}

/* header style */
.header-container{
    background-image: url(../img/Group\ 14.png);
    background-repeat: no-repeat;
}
.header-main{
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
}
.header-left{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.goat{
    font-size: 55px;
    background-image: linear-gradient(#F948B2,#8758F1);
    background-clip: text;
    color: transparent;
}
.header-right{
    width: 50%;
}
.header-right img{
    width: 100%;
}
.header-btn1,.header-btn2{    
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    color: white;
    font-weight: 700;
}
.header-btn2{
    background-color:#4EC5F7;
    
}
.header-btn1{
    background-color: #FF42A5;
    margin-right: 20px;
}

/* online section style */
.online-main{
    max-width: 1150px;
    margin: 50px auto 0px;
}
.online-title{
    text-align: center;
    margin-bottom: 20px;
}
.online-title span{
    color: #F948B2;
    font-family: Arial, Helvetica, sans-serif;
}
.online-card-main{
    display: grid;
    grid-template-areas: 
    "a b c d"
    ;
    gap: 15px;
}
.online-card{
    position: relative;
}
.online-card img{
    width: 100%;
    transition: .7s;
}
.online-card p{
    font-size: 18px;
    color: #534C64;
}
.card-1{
    grid-area: a;
}
.card-2{
    grid-area: b;
}
.card-3{
    grid-area: c;
}
.card-4{
    grid-area: d;
}
.watch-now{
    position: absolute;
    top: 40%;
    left: 39%;
    text-align: center;
    display: none;
}
.watch-now span{
    font-size: 25px;
    color: white;
}
.watch-now p{
    font-size: 18px;
    color: rgba(230, 5, 5, 0.893);
}
.online-card img:hover+.watch-now{
    display: block;
}
.online-card img:hover{
    filter: brightness(20%);
}
.paly-main{
    max-width: 1150px;
    display: flex;
    margin: 0 auto 100px;
    justify-content: space-between;
    align-items: center;
}
.play-left{
    width:40%;
    margin: 0 auto;
}
.play-left h1{
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    text-align: right;
    margin-bottom: 20px;
}
.play-left p{
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
}
.play-right{
    width: 40%;
    position: relative;
}
.play-right img{
    width: 100%;
}
.play-right .playImg{
    position: absolute;
    width: 180px;
    height: 180px;
    bottom: -50px;
    left: -60px;
}